.button:hover {
    opacity: .8;
}

.regular {
    background: var(--color-blue-1);
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    width: 100%;
    padding: 12px;
    color: var(--color-white-3);
    border: none;
    cursor: pointer;
}


.btn_text {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--color-blue-1);
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;
}

.btn_chat {
    cursor: pointer;
    background: none;
    border: none;
    height: 45px;
    font-style: normal;
    font-weight: 500;
    font-size: .9rem;
    line-height: .9rem;
    color: var(--color-grey-1);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    width: 100%;
    padding: 10px;
}


.btn_text:hover,
.btn_text:focus {
    outline: 1px solid var(--color-blue-1);

}

.btn_red {
    color: var(--color-red-1);
}

.btn_showUserModal {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--color-white-1);
    border: none;
    font-size: 25px;
    display: flex;
    outline: none;
    text-align: center;
    cursor: pointer;
    padding: 0;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.btn_send-message {
    cursor: pointer;
    border: none;
    background: none;
    width: 28px;
    height: 28px;
    flex: 0 0 28px;
}
