<div class="chat-layout">
    <div class="chat-left-block">
        <div class="link-block">
            <a href="#" class="link-block__a">Профиль ></a>
        </div>
        <div class="search-block">
            {{{searchInput}}}
        </div>
        <ul class="list-block">
            {{{listHelper chatList}}}
        </ul>
    </div>
    <div class="chat-right-block">
        <!--        <div class="empty-block">Выберите чат чтобы отправить сообщение</div>-->
        <div class="head-block">
            <div class="head-block__in">
                <div class="head-block__img"></div>
                <div class="head-block__name">Вадим</div>
                <div class="head-block__settings">...</div>
            </div>
        </div>
        <div class="content-block">
            <div class="messages">
                <div class="messages__in">
                    <div class="messages__item">
                        <div class="message">Привет</div>
                        <div class="message">Пока</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-block">
            <div class="input-block__in">
                <div class="input-block__pin">pin</div>
                {{{messageInput}}}
                <div class="input-block__btn">btn</div>
            </div>
        </div>
    </div>
</div>