<div class="chat-layout">
    <div class="chat-left-block">
        <div class="link-block">
            <a href="#" class="link-block__a">Профиль ></a>
        </div>
        <div class="search-block">
            {{{searchInput}}}
            <!--            <input type="text" name="search" id="search" class="search-block__input" placeholder="Поиск">-->
        </div>
        <ul class="list-block">
            <li class="list-block__item">
                <div class="chat-item">
                    <div class="chat-item__in">
                        <div class="chat-item__left"></div>
                        <div class="chat-item__right">
                            <div class="chat-item__name">Андрей</div>
                            <div class="chat-item__text">Изображение</div>
                        </div>
                        <div class="chat-item__abs">
                            <div class="chat-item__time">10:49</div>
                            <div class="chat-item__unread">2</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="chat-right-block">
        <div class="empty-block">Выберите чат чтобы отправить сообщение</div>
        <div class="head-block">
            <div class="head-block__in">
                <div class="head-block__img"></div>
                <div class="head-block__name">Вадим</div>
                <div class="head-block__settings"></div>
            </div>
        </div>
        <div class="content-block">
            <div class="messages">
                <div class="messages__in">
                    <div class="messages__item">
                        <div class="message">Привет</div>
                        <div class="message">Пока</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-block">
            <div class="input-block__in">
                <div class="input-block__pin">pin</div>
                <div class="input-block__input"></div>
                <div class="input-block__btn">btn</div>
            </div>
        </div>
    </div>
</div>