<div class="profile-page">
    <div class="profile-page__in">
        <div class="profile-page__img">
            <input class="profile-page__img-input" name="" type="image" src="{{img}}" alt="Аватар с Вашим изображением">
        </div>
        <div class="profile-page__name">Иван</div>
        <div class="profile-page__field-list">
            {{{fieldListHelper fieldList}}}
        </div>
        <div class="profile-page__btns">
            {{{btnsHelper buttons}}}
        </div>
    </div>
</div>