body {
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    width: 340px;
    height: 450px;
    background: var(--color-white-3);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    margin: 0 auto;
    padding: 50px 30px;
}

.form__item {
    margin-bottom: 16px;
}

.form__label {
    width: 27px;
    height: 9px;
    font-weight: 500;
    font-size: .7rem;
    line-height: .7rem;
    display: block;
    margin-bottom: 8px;
    color: var(--color-grey-1);
}

.form_text-input {
    height: 13px;
    padding: 7px 0;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid var(--color-blue-1);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--color-black-1);
    outline: none;
}

.btn-block {
    margin-bottom: 14px;
}

.h1 {
    height: 20px;
    margin: 0 auto 40px;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    color: var(--color-black-1);
}

.link {
    font-weight: 500;
    font-size: .85rem;
    line-height: .85rem;
    color: var(--color-blue-1);
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: block;
}