<div class="error-layout">
    <div class="error-layout_in">
        <div class="error-layout_h">{{title}}</div>
        <div class="error-layout_text">{{text}}</div>
        {{{btn}}}
    </div>
</div>