<div class="error-layout">
    <div class="error-layout_in">
        <div class="error-layout_h">{{title}}</div>
        <div class="error-layout_text">{{text}}</div>
        <a href="{{link}}" class="error-layout_link">{{linkText}}</a>
    </div>
</div>