.item {
    margin-bottom: 16px;
    position: relative;
}

.item:last-child {
    margin-bottom: 0;
}


.label {
    height: auto;
    font-weight: 500;
    font-size: .7rem;
    line-height: .7rem;
    display: block;
    margin-bottom: 8px;
    color: var(--color-grey-1);
}

.field-icon {
    width: 15px;
    height: 10px;
    position: absolute;
    right: 10px;
    top: calc(50% - 5px);
}

.input {
    height: 13px;
    padding: 7px 0;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid var(--color-blue-1);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--color-black-1);
    outline: none;
}

.search-input .input {
    display: block;
    width: 100%;
    height: auto;
    background: var(--color-white-1);
    border: none;
    padding: 10px;
    outline: none;
    font-style: normal;
    font-weight: 500;
    font-size: .9rem;
    line-height: .9rem;
    color: var(--color-grey-1);
    border-radius: 5px;
}

.send-message .input {
    display: block;
    width: 100%;
    height: auto;
    background: var(--color-white-1);
    border: none;
    padding: 10px 20px;
    outline: none;
    font-style: normal;
    font-weight: 500;
    font-size: .9rem;
    line-height: .9rem;
    color: var(--color-grey-1);
    border-radius: 30px;
}


.input_profile {
    padding: 10px 0;
    border-bottom: 1px solid var(--color-white-2);
    display: flex;
}

.input_profile:last-child {
    border-bottom: 0;
}

.input_profile .label {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--color-black-1);
    width: 30%;
}

.input_profile .input {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--color-grey-1);
    text-align: right;
    border-bottom: none;
}