<div class="fieldModal__back">
    <div class="fieldModal">
        <div class="fieldModal__in">
            <div class="fieldModal__title">{{{title}}}</div>
            <div class="fieldModal__field">{{{field}}}</div>
            <div class="fieldModal__btn">{{{btn}}}</div>
        </div>
    </div>
</div>
