
.message:first-child {
    margin-top: 0;
}

.message {
    margin-top: 30px;
    padding: 11px;
    max-width: 45%;
    min-width: 114px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.message.message_to {
    background: var(--color-white-6);
    align-self: flex-end;
}

.message.message_from {
    background: var(--color-white-5);
    align-self: flex-start;
}

.message_to + .message_to {
    margin-top: 10px;
}

.message_from + .message_from {
    margin-top: 10px;
}

.message__text {
    font-style: normal;
    font-weight: 500;
    font-size: .9rem;
    line-height: .9rem;
    color: var(--color-black-1);
    margin-right: auto;
}

.message__status {
    margin-right: 3px;
    margin-top: 2px;
}

.message__time {
    font-style: normal;
    font-weight: 500;
    font-size: .7rem;
    line-height: 9px;
    color: var(--color-blue-1);
}

.message_from .message__time {
    color: var(--color-grey-1);
}
